<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="dev.brahmkshatriya.echo.extension" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Local Extenzion"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <meta-data
            android:name="dev.brahmkshatriya.echo.sourceclass"
            android:value="dev.brahmkshatriya.localextenzion.OfflineExtenzion" />
    </application>

</manifest>